<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>GSoC'11 {{ page.title }}</title>
</head>
<body>
   <h1> {{ page.title }} </h1>

   {{ content }}

   <hr/>
   <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/braindump.html">Braindump</a></li>
      <li><a href="/proposal.html">Initial proposal</a></li>
      <li><a href="/references.html">References</a></li>
      <li><a href="/forest.html">Forest</a></li>
   </ul>
   <p><a href="https://github.com/divanorama/gsoc11/blob/gh-pages{{ page.url }}">This page on github</a></p>
</body>
</html>
